*{
  margin: 1vh;
  padding: 1vh;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#backg{
  height: "100vh";
  display: "flex";
  flex-direction: "column";
  justify-content: center;
  align-items: center;
  color: "white";
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: "pointer";
}

#start{
  padding: "10px 20px";
  font-size: 18px;
}

#reset{
  padding: "10px 20px";
  font-size: 18px;
}